.navlink {
  background-color: inherit;
  color: white
}

.navlink a {
  /* gets rid of underline */
  text-decoration: none;
  color: inherit
}

.dropdown-placeholder {
  background-color: inherit;
  color: white;
  /* Don't want border for dropdown button that doesn't link anywhere */
  border: 0;
}

.dropdown-placeholder:hover {
  /* Keep dropdown placeholder constant while hovering */
  background-color: #212721;
  color: white;
}

.